a.contact(href="tel:+30930106874")
	i.fa.fa-mobile.contact__icon
		span.contact__ext 6337 3128
a.contact(href="mailto:info@business.co")
	i.fa.fa-envelope.contact__icon.contact__icon--email
		span.contact__text info@business.co
a.facebook-icon(href="facebook.com")
	i.fa.fa-facebook