section.form-section
  .container
    .title
      h2.title__header Get Yuor Free Facebook Analysits Now
      .title__text Enter yuor details below

    .btn-down: a.arrow-down(href="form.html" target="_blank"): i.fa.fa-angle-down

    .form-container.is-hidden
        form(method="post" action="#").form
            button(type="button").form__close-button x
            .form__text.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptates quod cupiditate laudantium omnis quos, culpa quisquam placeat dignissimos nemo officiis. 
                Illo perferendis maiores hic fugit accusamus sequi id delectus!
            
            .form__fields
                input.form__input(type="text" placeholder="Yuor Name")
                input.form__input(type="text" placeholder="Contact Number")
                input.form__input(type="text" placeholder="Contact Name")

            button(type="submit").button.button--text-uppercase.button--red Submit now